<html>
    <head>
        <meta charset="utf-8" />
        <title>404</title>

        <style>
            html, body {
                margin:0;
                padding:0;

                background: skyblue;
                color: #FFFFFF;
                font-size: 2em;
                text-align: center;
            }

            img {
                display: block;
                width: 580px;
                height: 419px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <h1>Oooops!</h1>
        <img src="/img/404.jpg" />
    </body>
</html>
